.full-viewport {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
}
@supports (
		height: 100dvh
	) {
	.full-viewport {
		width: 100dvw;
		height: 100dvh;
		max-width: 100dvw;
		max-height: 100dvh;
	}
	.full-viewport:fullscreen {
		width: 100vw;
		height: 100vh;
		max-width: 100vw;
		max-height: 100vh;
	}
	@media (
			orientation: landscape
		) {
		.full-viewport {
			width: 100vw;
			height: 100vh;
			max-width: 100vw;
			max-height: 100vh;
		}
	}
}
.main-container {
	overflow: scroll;
	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
	margin: 0;
}
.main-container.no-padding {
	padding: 0;
}
.main-container.start-top {
	align-items: start;
	align-content: start;
}

.main-container
	.screen {
	width: 100%;
	padding: 8px
		10vw;
	display: flex;
	flex-direction: column;
	gap: var(
		--main-gap
	);
	background-color: #ebf8f9;
}

.main-container
	.characters {
	display: flex;
	flex-direction: row;
	gap: var(
		--main-gap
	);
	width: 100%;
}
.main-container
	.character {
	display: flex;
	flex-direction: column;
	width: 100%;
}
