.splash-container {
	display: block;
	background: no-repeat
		url(./splash/bulbro-splash.png)
		top
		center;
	background-size: cover;
}
.splash-title {
	display: block;
	width: min(
		80vw,
		480px
	);
	height: 25vh;
	position: relative;
	background: no-repeat
		url(./splash/bulbro-title.png)
		center
		center;
	background-size: contain;
	margin-bottom: -16px;
	flex-shrink: 0;
}
