.splash-container {
	display: block;
	width: 100vw;
	min-height: 40vh;
}
.splash-banner {
	display: block;
	width: 100vw;
	min-height: 40vh;
	position: relative;
	background: no-repeat url(../../public/assets/bulbro-splash-title.png) top
		center, no-repeat url(../../public/assets/bulbro-splash-characters.png)
		bottom center;
	background-size: contain, contain;
	position: fixed;
	z-index: -1;
}
.splash-title {
	display: block;
	width: 100vw;
	height: 40vh;
	position: relative;
	background: no-repeat url(../../public/assets/bulbro-splash-title.png) top
		left;
	background-size: contain;
	margin-bottom: 16px;
}
