.splash-container {
	display: block;
	background:
		no-repeat
		url(/assets/bulbro-splash-title.png)
		top
		center,
		no-repeat
		url(/assets/bulbro-splash-characters.png)
		bottom
		center;
	background-size:
		contain,
		contain;
}
.splash-title {
	display: block;
	width: 100vw;
	height: 40vh;
	position: relative;
	background: no-repeat
		url(/assets/bulbro-splash-title.png)
		top
		left;
	background-size: contain;
	margin-bottom: 16px;
}
